body {
  background-color: #F9F9F9;
  color: #2C3639;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  text-align: center;

}

h1 {
  color: #1E5F74;
  font-family: 'Parisienne', cursive;
  font-size: 6rem;
  font-weight: normal;
  margin-top: 80px;
  margin-bottom: 0;
}

h2 {
  color: #1E5F74;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
}

h3 {
  color: #6E85B2;
  font-family: 'Ubuntu', sans-serif;
}

p {
  margin: 0;
  padding: 8px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #A1C298;
  border-width: 5px;
  margin: 50px auto 50px auto;
  width: 5%;
}

a {
  color: #1E5F74;
  text-decoration: none;
}

a:hover {
  color: #F9F9F9;
}

.top_container {
  background-color: #CDF0EA;
  position: relative;
  padding-top: 100px;
}

.middle_container {
  background-color: #F9F9F9;
  margin: 0 auto 0 auto;
  width: 50%;
}

.bottom_container {
  background-color: #7FBCD2;
  padding-top: 80px;
  padding-bottom: 0;
}

.top_cloud {
  position: absolute;
  right: 15%;
  top: 50px;
}

.bottom_cloud {
  position: absolute;
  left: 10%;
  bottom: 300px;
}

.main_img {
  display: block;
  margin-left: auto;
  margin-right:auto;
}

.attribution {
  position: relative;
  bottom: 20px;
  font-size: 0.8rem;
}

.logo_img_container {
  display: inline-block;
  position: relative;
  width: 15%;
}

.logo_img {
  background-color: #F2D7D9;
  border-radius: 100%;
  display: block;
  height: auto;
  width: 100%;
}

.overlay {
  background-color: #F37878;
  border-radius: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: .5s ease;
}

.logo_img_container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text_small {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button_container {
  margin: 50px;
}

.btn {
  background: #34b0d9;
  background-image: -webkit-linear-gradient(top, #34b0d9, #186c7d);
  background-image: -moz-linear-gradient(top, #34b0d9, #186c7d);
  background-image: -ms-linear-gradient(top, #34b0d9, #186c7d);
  background-image: -o-linear-gradient(top, #34b0d9, #186c7d);
  background-image: linear-gradient(to bottom, #34b0d9, #186c7d);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #39d8f0;
  background-image: -webkit-linear-gradient(top, #39d8f0, #30bcd1);
  background-image: -moz-linear-gradient(top, #39d8f0, #30bcd1);
  background-image: -ms-linear-gradient(top, #39d8f0, #30bcd1);
  background-image: -o-linear-gradient(top, #39d8f0, #30bcd1);
  background-image: linear-gradient(to bottom, #39d8f0, #30bcd1);
  text-decoration: none;
}

.footer-logo {
  border-radius: 100%;
  display: block;
  width: 100%;
  height: 100%;
}

.footer-link {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  width: 5%;
}

.footer-overlay {
  background-color: #F9F9F9;
  border-radius: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: .5s ease;
}

.footer-link:hover .footer-overlay {
  opacity: 1;
}

.footer-text {
  color: #1E5F74;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-copyright {
  color: #F9F9F9;
  font-size: 0.75rem;
  padding: 50px;
}
